.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #0b0f2f;
  color: white;
  padding: 25px 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar-button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: #2c3e99;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: none;
}

.sidebar-button:hover {
  background-color: #1a2147;
}
